---
import Layout from '../layouts/LayoutBasic.astro';
import Card from '../components/Card.astro';
import HttpCommon from '../lib/HttpCommon';
const PUBLIC_SITE_ID = import.meta.env.PUBLIC_SITE_ID;
console.log("sid=" ,PUBLIC_SITE_ID)
//
const postItem = {
	siteId: Number(PUBLIC_SITE_ID),
}		
console.log(postItem); 
const json = await HttpCommon.post(postItem, "/posts/get_list");
const items = json.data;  
//console.log(items); 

---

<Layout title="Welcome to Astro.">
    <div class="container mb-4">
        <h1>Welcome</h1>
        <hr />
        {
        items.map((item) => (
        <div>
            <a href={`/posts/${item.id}`}  class=""
            ><h3>{item.title}</h3>
            </a>
            <span class="mx-2">ID : {item.id}</span>
            <hr class="my-1" />					
        </div>
        ))
        }
    </div>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>

<!--
		<h3>astro2_30dev</h3>
-->
