---
import Layout from '../../../../layouts/Layout.astro';
import App from './App.svelte';
//import CrudCreate from '../CrudCreate';
const { id } = Astro.params;
console.log("id=", id);
---

<Layout title="Welcome to Astro.">
    <main class="container mb-4">
        <a class="btn btn-outline-primary" href={`/todo`}>Back</a>
        <hr />
         <App client:only="svelte" siteId={id}  />
    </main>
</Layout>
<!-- -->
<style>
.completed_box_wrap{ display: none; }
</style>
<!-- -->

<!--
 -->